#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  max-width: 900px;
  margin: 0 auto;
}
#nav {
  padding: 30px 0;
  a {
    outline: 0;
    margin: 0 0.5rem;
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
    &.router-link-active {
      text-decoration: underline;
    }
    &:first-child {
      margin-left: 0;
    }
  }
}
a {
  color: #2c3c69;
}
h2, h3 {
  border-bottom: 1px solid #2c3c69;
}
.task-complete {
  color: #999;
  .ssh {
    background: #999;
    color: #666;
  }
}